table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
th {
  text-align: center;
}
td.RGB {
  color: rgb(255, 0, 0);
}
td.RGB9 {
  color: rgb(255, 0, 0, 0.9);
}
td.RGB8 {
  color: rgb(255, 0, 0, 0.8);
}
td.RGB7 {
  color: rgb(255, 0, 0, 0.7);
}
td.RGB6 {
  color: rgb(255, 0, 0, 0.6);
}
td.RGB5 {
  color: rgb(255, 0, 0, 0.5);
}
td.RGB4 {
  color: rgb(255, 0, 0, 0.4);
}
td.RGB3 {
  color: rgb(255, 0, 0, 0.3);
}
td.RGB2 {
  color: rgb(255, 0, 0, 0.2);
}
td.RGB1 {
  color: rgb(255, 0, 0, 0.1);
}

td.HSL {
  color: hsl(0, 100%, 50%);
}
td.HSL9 {
  color: hsla(0, 100%, 50%, 0.9);
}
td.HSL8 {
  color: hsla(0, 100%, 50%, 0.8);
}
td.HSL7 {
  color: hsla(0, 100%, 50%, 0.7);
}
td.HSL6 {
  color: hsla(0, 100%, 50%, 0.6);
}
td.HSL5 {
  color: hsla(0, 100%, 50%, 0.5);
}
td.HSL4 {
  color: hsla(0, 100%, 50%, 0.4);
}
td.HSL3 {
  color: hsla(0, 100%, 50%, 0.3);
}
td.HSL2 {
  color: hsla(0, 100%, 50%, 0.2);
}
td.HSL1 {
  color: hsla(0, 100%, 50%, 0.1);
}
