.jumbotron {
  margin-bottom: 0px;
  background-image: url("https://images.pexels.com/photos/1687514/pexels-photo-1687514.jpeg");
  background-size: cover;
  background-position: center;
}
.display-4 {
  padding: 0px;
  color: white;
}
#stocks {
  padding: 0px;
  max-width: none;
}
.container {
  padding-top: 0px;
  padding-left: 0px;
  text-align: center;
}
.caption {
  display: inline;
  font-size: 36px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .7);
  color:white;
}
