div.container {
  outline: dashed lightgrey 3px;
  padding-left: 1px;
  padding-right: 1px;
}

h1 {
  font-size: 2rem;
}

#tabs {
  font-size: 50%;
}

img {
  width: 100%;
}

.card-body {
  margin-left: 5px;
  margin-right: 5px;
}
