.jumbotron {
  margin-bottom: 0px;
  background-image: url("https://www.freewebheaders.com/wordpress/wp-content/gallery/sunsets/fabulous-sunset-plane-header.jpg");
  background-size: cover;
}
.display-4 {
  padding: 0px;
  color: white;
}
#flights {
  padding: 0px;
  max-width: none;
}
.container {
  padding-top: 0px;
  padding-left: 0px;
}
