* {
  padding: 0px;
  margin: 0px;
}

body {
    width: 1000px;
}

#stars {
  background-color: blue;
  width: 400px;
  height: 300px;
  margin-right: -2px;
  padding: 10px;
}
#stars tr td{
  color: white;
  font-size: 20px;
  padding-left: 5px;
}
.red_stripe {
  background-color: red;
  width: 90%;
  height: 40px;
}
.white_stripe {
  background-color: white;
  height: 37px;
}
