$font-stack:    Helvetica, sans-serif
$primary-color: #333
.header
  padding: 60px
  background: lightgrey
.header>p
  padding-bottom: 60px
.container 
  max-width: 100%
  padding-right: 0px
  padding-left: 0px
  
.card-flex-container
  max-width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: stretch 
h2
  font-weight: bold
#header-text
  font-size: large
div.card
  border: dashed 1px
  padding: 5px
.card-title
  font-size: 30px
  font-weight: bold
hr 
  border: 0
  height: 2px
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) )
