.card-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 5px;
  border: lightgrey solid 2px;
}

div.card {
  width: 20rem;
  padding: 5px;
  background-color: silver;
  min-width: 300px;
  text-align: center;
  flex-basis: 30%;
}

.card-body {
  padding: 0px;
}

body {
  max-width: none;
  text-align: center;
  background-color: rgb(222, 93, 131)
}
button {
  margin: 10px;
}
