div.jumbotron {
  background: rgb(51, 0, 111);
  color: white;
  padding-left: 15rem;
}

fieldset {
  text-align: right;
  border: 1px solid #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  min-width: 300px;
  margin: auto;
}
legend {
  background-color: lightgrey;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
}

.form {
  width: 15%;
}

legend {
  border-radius: 25px;
  background-color: lightgrey;
  color: black;
  padding: 3px 6px;
  text-align: left;
  height: 50%;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 300px;
}
div.card {
  width: 20rem;
  padding: 5px;
  min-width: 300px;
  text-align: center;
  flex-basis: 30%;
}
