html {
    display: table;
    margin: auto;
}
body {
	display:inline-block;
    margin:auto 5px auto;
	max-width: 500px;
	display: table-cell;
    vertical-align: middle;
    background-color: grey;
}
p {
	text-align:center;
	color:black;
	font-size: 100%;
}
h1 {
	text-align:center;
	color:white;
	font-size: 150%;
}
a {
    color:white;
}
