html {
  display: table;
  margin: auto;
}

body {
  display: inline-block;
  margin: auto 5px auto;
  max-width: 500px;
  display: table-cell;
  vertical-align: middle;
  background-color:rgb(20, 20, 20);
}

p {
  text-align: center;
  color: black;
  font-size: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: Impact;
  font-stretch: ultra-expanded;
}

h2 {
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: Impact;
  font-stretch: ultra-expanded;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 250px;
  transition: .8s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.4;
}

.container {
  position: relative;
  width: 50%;
  padding-bottom: 35px;
  display: table-cell;
  vertical-align: middle;
}
