html {
    display: table;
    margin: auto;
}
body {
    background-color: grey;
}
p {
	text-align:center;
	color:black;
	font-size: 100%;
}
h1 {
	text-align:center;
	color:white;
	font-size: 150%;
}
a {
    color:white;
}
