body {
   background-color: white;
   text-align: center;
   vertical-align: middle;
   margin: auto;
   padding: auto;
}

.panel {
  margin: 20px auto;
}

.img {
  height: 100px;
  width: 100px;

}
.container {
    background-color: #83672e;
    border: 10px solid #4b2e83;
    border-radius: 25px;
}
#su {
  background-color: #990000;
  color: lightgray;
}

#ou {
  background-color: #154733;
  color: yellow;
}

#wsu {
  background-color: #981e32;
  color: #5e6a71;
}

#cal {
  background-color: #081f3f;
  color: #fcb326
}

#uw {
  background-color: #4b2e83;
  color: #b7a57a;
}

#osu {
  background-color: #252525;
  color: #Cc4500;
}
